body{
    background: rgb(223, 145, 158)
    
}

.text h1{
color: rgb(138, 33, 91);
margin: auto;
justify-content: center;
display: flex;
font-size: 40px;
}

.foto img{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: px;
    border: 15px outset rgb(206, 74, 114);
    margin-right:30px;
    border-radius: 10px;
    margin-left: -250px;
}

.foto{
    display: flex;
    color: rgb(141, 39, 86);

}

.box{
    background-color: aliceblue;
    margin-left: 250px;
    border-radius: 20px;
    border: 10px double rgb(150, 47, 90);
}