body{
    /* background: linear-gradient(#fff,#9787F3,#2d274b); */
    background: linear-gradient(10deg,#EAEFFE,#8079a1);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text h1{
color: #2d274b;
margin: auto;
justify-content: center;
text-align: center;
font-size: 40px;
box-shadow: 20px 20px 20px #2d274b;
}
.foto{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-left: 32%;
}
.foto img{
    width: 200px;
    height: 200px;
    margin-top: 25px;
    /* margin-left:260px; */
    border: 15px outset #9787F3;
    margin-right:30px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #2d274b;
}

/* .box{
    background-color: #9787F3;
    width:450px;
    height: 355px;
    margin-top: 25px;
    margin-left: 300px;
    border-radius: 10px;
} */

.text1 h2{
    color: #2d274b;
    padding-left: 150px;
    margin-top: -5px;
     box-shadow: 20px 20px0px #2d274b;
}

li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2d274b;
    margin-top: 10px;
    margin-top:10PX;

}

.box{
    justify-content: center;
    align-items: center;
    background-color: #9787F3;
    width:450px;
    height: 355px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #2d274b;
}

.bulatkecil{
    width: 25px;
    height: 25px;
    background-color: #2d274b;
    border-radius: 50%;
    position:relative;
    left:7px;
    top:5px;
}

.bulatkecil1{
    width: 25px;
    height: 25px;
    background-color: #2d274b;
    border-radius: 50%;
    position:relative;
    left:410px;
}

.text3 h2{
    color: #2d274b;
    margin-left: 170px;
    margin-top: -10px;
}

.text4 h2{
    color: #2d274b;
    margin-left: 110px;
    margin-top: -10px;
}

h4{
    color: #2d274b;
    margin-left: -22px;
}